<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/hijo1">Hijo 1</a>
        <a href="/hijo2">Hijo 2</a>
        <!-- Otra forma de hacer referencia a otras paginas es usar el url_for() que lo que hace es ejecutar la funcion que le digamos -->
        <a href="{{ url_for('hijo1') }}">Hijo 1 con urlfor</a>
        <a href="{{ url_for('hijo2') }}">Hijo 2 con urlfor</a>
    </nav>
    <br>
    <br>
    <br>
    <!-- En este caso la herencia nos sirve para no reescribir codigo HTML una y otra vez, si no que si sabemos que solo cambiara una sola
    parte del archivo entonces la pasamos como bloque. -->
    {% block contenido %}

    {% endblock %}
</body>
</html>ml