<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Imports -->
    <link rel="stylesheet" href="../static/css/sign_up.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="main-container">
        <div class="container images">
            <div>
                <img src="../static/img/sing_up.svg" alt="" srcset="">
            </div>
        </div>
        <div class="container form">
            <form action="" method="get">
                <h2>Sing up</h2>
                <div>
                    <label for="">Email: </label><br>
                    <input type="email" name="email" id="email" placeholder="jhondoe@exaple.com"><br>
                </div>
                <div class="names">
                    <div>
                        <label for="firstname">First Name: </label><br>
                        <input type="text" name="firstname" id="firstname" placeholder="Jhon"><br>
                    </div>
                    <div class="ln">
                        <label for="lastname">Last Name: </label><br>
                        <input type="text" name="lastname" id="lastname" placeholder="Doe"><br>
                    </div>
                </div>
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</body>
</html>